body {
  font-size: 2rem;
  font-family: "Sen", sans-serif;
  background-color: #030200;
  color: #F8F8F8;
  line-height: 1.6;
  letter-spacing: 1.5px;
  overflow-x: hidden;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

nav {
  height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    position: relative;
    float: right;
    padding-right: -31px;
}

/* Basic styles for nav links */
nav a {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  height: 100%;
  text-decoration: none;
}

/* Specific styles for non-active links */
.link {
  color: white;
}

/* Specific styles for active links */
.link-active {
  color: black;
  background: orange;
}

.content {
  margin-top: 50px;
  text-align: center;
}

.name {
  position: fixed;
  top: 100px;
  left: 25px;
}